/* src/components/Catalog.css */

.catalog {
  background-color: #ccffcc; /* Fondo verde claro */
  padding: 20px;
}

.promotions {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.promotion-tag {
  background-color: #ffcc00; /* Fondo amarillo */
  color: #333;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  background-color: white;
  border: 1px solid #ccc; /* Borde alrededor de cada producto */
  border-radius: 10px;
  padding: 20px;
  width: calc(33% - 40px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card h2 {
  margin-top: 0;
  font-size: 18px;
  color: #333;
}

.product-card p {
  font-size: 14px;
  color: #666;
}

.product-card button {
  background-color: #4CAF50; /* Botón verde */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #45a049;
}











  